body { background: #c60462; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 35px; display: flex; }
.block-search-0 { color: #a7097a; font-size: 20px; margin-bottom: 5px; }
.block-metrics-1 { color: #273c9a; font-size: 20px; margin-bottom: 5px; }
.block-helper-2 { color: #c4bd6e; font-size: 19px; margin-bottom: 5px; }
.block-filter-3 { color: #13319f; font-size: 18px; margin-bottom: 5px; }
.block-token-4 { color: #747904; font-size: 18px; margin-bottom: 5px; }